@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
    transition: all 0.3s ease;
}

.container:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h1 {
    margin-bottom: 20px;
    color: #6b3ce2d4;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: 600;
    color: #333333;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 6px;
    font-size: 16px;
}

button {
    padding: 10px;
    border: none;
    background: #5e39a2;
    color: #ffffff;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #553297;
}

p {
    margin-top: 20px;
    font-size: 18px;
    color: #555555;
}

h2 {
    margin-top: 30px;
    color: #4c289a;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #e9ecef;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 6px;
    color: #333333;
}
